[2019-11-16 06:03] annefou opened #1 "README & LICENSE file"
@DirkOlivie @matsbn for a public repository, it is necessary to add a README and choose a license. (see https://choosealicense.com/)

[2020-02-06 13:34] TomasTorsvik opened #2 "License for BLOM"
It would be useful to clarify the license for BLOM. Assuming we are free to chose whatever license, I would suggest (having consulted with Marco) to go for either a GNU Lesser General Public License v3.0 (lgpl-3.0) or an Apache license 2.0 (apache-2.0).

[2020-02-06 14:41] matsbn commented on #2
We discussed the licence a bit at the hackathon and I really appreciate your input @TomasTorsvik. The Apache licence require a copyright notice (Copyright [yyyy] [name of copyright owner]) and selecting an appropriate copyright owner is challenging since BLOM is a collaborative effort. The copyright notice is also a challenge with the MIT licence that we considered during the hackathon. The MIT li

[2020-02-06 16:08] mvhulten commented on #2
You [need](https://fsfe.org/freesoftware/basics/who-owns-free-software.html) copyright to licence a work.  By default, the (legal) person who wrote the work has the copyright over the work.  For clarity it should be stated who this is.  This person can assign this copyright to another (legal) person.  When we signed our work contract, we probably signed away all copyright over our works to the org

[2020-02-07 08:47] TomasTorsvik commented on #2
If compatibility with derived work is the main concern, one could also consider the Mozilla Public License 2.0 (mpl-2.0). This includes weak copyleft conditions, somewhat similar to LGPL, but with less restrictions on the licensing of the derived work (at least to my understanding), see section 3.3 (https://choosealicense.com/licenses/mpl-2.0/ ). Maybe it would make sense to ask advice from someon

[2020-02-07 09:58] matsbn commented on #2
Thanks for you thoughts and information regarding copyright notice, @mvhulten. Regarding similar licensing issues for the new [NorESM](https://github.com/NorESMhub/NorESM) repository, Michael Schulz will ask for legal advise from a MET lawyer. I hope that also can help clarify how to proceed with the BLOM licence.

[2020-03-05 13:29] TomasTorsvik opened #3 "Development plans for BLOM/iHAMOCC"
The original comment included information that should not have been made public. The content of this issue has therefore been removed.

[2020-04-22 13:14] #2 closed, assigned to nobody

[2020-05-07 08:18] TomasTorsvik opened #8 "BLOM/iHAMOCC documentation"
@matsbn @JorgSchwinger @annefou @mvhulten
Hi!
I just looked at the NorESM2 documentation page
https://noresm-docs.readthedocs.io/en/noresm2/
and I realized that there is not much documentation related to BLOM/iHAMOCC. With the new NorESM2 structure, the components should contain their own documentation, and there is already a "doc" folder with content provided by Marco.

Should we set up a readthe

[2020-05-07 08:49] TomasTorsvik commented on #8
I wonder what the procedure should be for assigning people to an issue. I think it would be useful to get help from Marco here, so I went ahead and assigned him along with myself, but perhaps it should be up to each member to assign themselves?  I'm not even sure if there is a practical reason for assigning issues to people, other than to indicate that someone <has worked/is working/intends to wor

[2020-05-08 09:42] mvhulten commented on #8
I'm not sure what is best to do, but
+ it looks like [NorESM documentation](https://noresm-docs.readthedocs.io/en/noresm2/configurations/configurations.html) provides for user guides for the different components;
+ it may be useful if the [coding guidelines](https://github.com/NorESMhub/BLOM/blob/master/doc/coding-guidelines.rst), or some derived version, will become part of the [contribution](htt

[2020-05-08 10:05] TomasTorsvik commented on #8
Perhaps it makes sense to separate user guide from documentation for developers. As you say, it seems that the NorESM documentation will provide the user guide. We could also make use of the [wiki](https://github.com/NorESMhub/BLOM/wiki) to document things that are not needed for external users? At least, it doesn't make sense to split information over two readthedocs documents.

[2020-05-08 13:00] matsbn commented on #8
Unfortunately, I have not had time to look much at the documentation. I think it make sense to place documentation that requires the full NorESM under NorESM, so e.g. BLOM relevant information for specifying compsets and configuration in coupled mode. Under BLOM documentation I would place information about how to contribute with code to BLOM (coding guidelines, git workflow etc.), information abo

[2020-05-08 14:58] JorgSchwinger commented on #8
I agree with Mats. (Is there still the possibility to run BLOM/iHAMOCC stand alone? I thought the internal sea ice code was removed?). In any case, we should prioritize having a documentation (User Guide) for BLOM/iHAMOCC in the NorESM2 context, that is what people will be using. If resources allow we can think about adding more specific things for developers later. Coding guidelines should stay i

[2020-05-08 15:09] TomasTorsvik commented on #8
The NorESM documentation use ReStructuredText (.rst) markdown that can be compiled with Sphinx to produce the ReadTheDocs output. The compilation procedure is defined by the NorESM/doc/Makefile, which defines the source dir as "." . Apparently, ReadTheDocs creates a clone of the NorESM repository before [building the documentation](https://docs.readthedocs.io/en/stable/builds.html). With this proc

[2020-05-11 10:45] JorgSchwinger opened #11 "Generation of input data list (remaining files for iHAMOCC)"
Related to #10, we also have to fix the remaining missing files in input data list for iHAMOCC (i.e. initial value tracer files and CFC concentration input files).

[2020-05-14 14:05] #11 closed, assigned to JorgSchwinger

[2020-05-28 15:29] j34ni opened #14 "BLOM for Intel2019"
I ported BLOM for the Intel2019 compiler and will make the corresponding pull request.

[2020-05-29 07:44] #14 closed, assigned to nobody

[2020-06-04 17:22] TomasTorsvik opened #16 "Link to documentation in README"
Include link to ReadTheDocs documentation in README.md file.

[2020-06-05 06:16] TomasTorsvik commented on #8
I'm starting a wiki for git & gitHub things. This doesn't need to be in the general documentation.

[2020-06-05 13:51] #16 closed, assigned to TomasTorsvik

[2020-06-07 12:56] TomasTorsvik opened #18 "Merge sediment code into iHAMOCC"
@mvhulten @JorgSchwinger @matsbn
I would like to merge the sediment code written by Marco, into the iHAMOCC source code. I was able to convert his original mercurial repository into git and import it to gitHub (https://github.com/TomasTorsvik-work/hamocc_sediment_legacy). I think the next step should be to create a feature branch in the BLOM repository and try to merge in incremental steps, but I'

[2020-06-08 08:07] JorgSchwinger commented on #18
Hi Thomas,

good to hear that you are planning to do this. Some considerations:

I am pretty sure that an automatic merge will not work for any of the code (as you already suspect), since it is based on a pretty old code version and a lot of development has been done in between. I think you could proceed as follows:

1. implement the updated actual sediment routines only (powach, powadi, dipowa, s

[2020-06-09 07:49] JorgSchwinger commented on #18
I forgot to mention: before making a new branch, please wait until the NorESM2 release is ready. Mats and I are still working on a better structure for the input data, which will be the last code update before the release. I suggest we take the NorESM2 release as a starting point for new developments.

[2020-06-09 09:41] TomasTorsvik commented on #18
@JorgSchwinger
OK, I will wait with the feature branch. I can do some testing in my fork for now. Do you have a estimate for when the NorESM2 release will be ready?

[2020-06-09 09:45] JorgSchwinger commented on #18
Release of NorESM2 is planned to be June 15 as far as I know

[2020-06-13 13:04] matsbn opened #19 "Release branch and tag name convention"
I would like to very soon make a persistent release branch for the BLOM version to be used in the upcoming NorESM2 release. Then a tag of this release branch will be used in the Externals.cfg of NorESM. Since release branches and tags will persist, it can be good to choose a sensible naming convention. My suggestion is that we call release branches for "release-\<major version\>.\<minor version\>"

[2020-06-14 06:27] TomasTorsvik commented on #19
I think this looks very sensible. I think there should be a relatively low barrier for "minor version" increments, i.e. some collection of bug fixes and functionality  tweaks collected over time should be sufficient. For the "major releases" it would be good to make a plan in advance for what we want to include, perhaps using the "project" and "milestone" functionality in gitHub.

[2020-06-15 07:37] tylov commented on #19
I think this is a sensible and common way to version the software. There is an overview over various version number schemes at https://en.wikipedia.org/wiki/Software_versioning

It is worth thinking about what the idea about the numbering scheme is: does it reflect compability series or development phases? (or both). As described in the Wiki, some use a finer resolution x.y.s.p, where s=stage (alp

[2020-06-15 10:37] tylov commented on #19
Just another comment on data format compability. I am not sure how important backward compability is, i.e. for reproducability you want to use a specific version with a specific dataset. But I suppose for reanalysis, backward compability is important. Also note that some software even support **forward compability**, e.g. .docx, xlsx, pptx formats was introduced in Office 2007, but Microsoft provi

[2020-06-15 17:04] matsbn commented on #19
Thanks for useful comments! It is indeed challenging to choose the level of version granularity suitable for this repo. If we find it useful with prereleases, I would maybe prefer tags of the e.g. release-1.1 branch like v1.1-alpha0, v1.1-beta1, v1.1-rc1 and then tag v1.1.0 as the first release of the 1.1 branch. These prereleases could be embedded in the numbering scheme as you mention, @tylov, b

[2020-06-30 10:07] JorgSchwinger opened #26 "Bug fixes for C14 isotopes"
There are a few bug fixes for C14 isotopes that have not yet been included in the main code.  Anne Moree has developed and tested the code. The fixes can be found in  /cluster/projects/nn2980k/Moree/NorESM2/cases/NOINYOC_tn21_18d/SourceMods/. Note that these runs are based on the BCCR-fast version of NorESM1, so care has to be taken when implementing this in NorESM2.

[2020-06-30 10:09] JorgSchwinger opened #27 "Implement C-isotopes in sediment code"
The new C-isotope code of NorESM has to be coupled to the sediment. Currently the code can only be run with -Dsedbypass

[2020-06-30 10:14] JorgSchwinger opened #28 "Implement natural tracers fully into sediment code"
Currently "natural tracers" are only partly implemented in the sediment code, limiting its applicability for high emission scenarios (or long integrations). This will effectively lead to a duplication of the sediment code (but for "natural" constituents), but it will extend the diagnostic capabilities of iHAMOCC greatly.

[2020-06-30 10:18] JorgSchwinger opened #29 "Constituent budget output"
Clean up, re-organise and extend the inventory routine to give a full budget of all important constituents (taking into account all in- and out-fluxes). Create annual netCDF output for the inventory, which replaces the text-output in the ocean log-file.

[2020-06-30 11:00] JorgSchwinger opened #30 "Implement depth integrated growth rate"
Currently we use depth integrated light intensity to determine phytoplankton growth rate, but growth rate is a non-linear function if light. By using the formulation of Evans & Parslow (1985) we can hopefully improve the (too low) productivity for deep mixed layers and low light conditions.

[2020-06-30 11:10] JorgSchwinger opened #31 "Add output for actually used atmopheric pCO2 and pCO2 water vapour correction"
Atmospheric CO2 mixing ratio in the gas exchange formulation is modified by sea level pressure and a water vapour correction in the gas exchange formulation, but these are not in the output, so the true Delta pCO2 used cannot be traced.

[2020-06-30 11:18] JorgSchwinger opened #32 "Implement carbon (and nutrient(?)) transport diagnostic output"
Implement carbon (and nutrient(?)) transport diagnostic output in the same way as heat and salt fluxes. This requires work in the BLOM code and should be discussed with Mats.

[2020-06-30 11:27] JorgSchwinger opened #33 "Add averaging fields for output in restart files"
Currently, if iHAMOCC is stopped/restarted, the averaging information for output files that have not yet been written is lost. E.g. if IHAMOCC is stopped end of June and restarted 1st of July, the annual output for this particular year will be incorrect (containing only the average July-December). To fix this, the fields saving the average output need to be written to restart.

I consider this rel

[2020-06-30 11:36] JorgSchwinger opened #34 "Update the carbon chemistry code to using mocsy"
Update the carbon chemistry code to using mocsy (www.geosci-model-dev.net/8/485/2015/). Details remain to be discussed.

[2020-06-30 18:06] #3 closed, assigned to nobody

[2020-07-28 13:09] TomasTorsvik commented on #18
I think it will be difficult to integrate the sediment burst-coupling method into BLOM/iHAMOCC, as it is designed to run in an alternating online-offline mode with the full model system. Therefore I think the best solution for now is to keep this code in a separate long-lived feature branch and update it when new BLOM/iHAMOCC versions are released.

[2020-07-28 16:09] mvhulten commented on #18
Almost all code can be excluded from compilation by a preprocessor directive (cpp key), but below I will assume it is always compiled with the code because cpp keys are to be avoided.  Furthermore I tried to code it as independent as possible from the rest of the code (given my general approach).  Nonetheless, you're right that the burst coupling (online/offline mode) exists in the full model syst

[2020-07-28 18:42] TomasTorsvik commented on #18
I hope the sediment code can be fully merged at some point, but I think it is best to do this in multiple steps. First goal is to get a version that is synced as much as possible with the most recent BLOM version.

[2020-08-03 19:07] JorgSchwinger commented on #18
Hi everyone,

it would be really desirable to have an accelerated sediment spin-up as a standard procedure during a model spin up, where "standard" would mean that it is part of the main model branch (master).

What complicates things in the current situation is that Marco's sediment code can write output. As far as I understand, this requires changing a lot of files _outside_ the sediment code (a

[2020-08-04 14:40] TomasTorsvik commented on #18
I'm back in Bergen on August 17. It would be good if we can discuss merging of the sediment model code during the week Aug. 17-21. I'm available all days. If it's just the 3 of us, I suppose we could meet in person, if we find a suitable meeting room.

[2020-08-07 11:49] JorgSchwinger opened #37 "Write HAMOCC initial condition files to blom.input_data_list"
HAMOCC initial condition files need to be written to blom.input_data_list also for runtype/=STARTUP. The model attempts to read them in any case so they need to be present/downloaded. This will resolve https://github.com/NorESMhub/NorESM/issues/149

@matsbn @TomasTorsvik we need to discuss where to put these kind of changes now. Certainly into the master branch (but then master should first be syn

[2020-08-07 21:26] TomasTorsvik commented on #37
@JorgSchwinger @matsbn
At the moment the code base in "master" and release-1.0 branch are identical (see output from "git diff 84fd939 a8a7e94") but their commit history are different. Going on with commits to master should be fine, and I think updates to the release-1.0 should only be bug fixes from now on. The release tag itself should not be changed, so we should probably make new minor release

[2020-08-10 14:55] matsbn opened #38 "Wrong time smoothing of forcing when coupling interval is different than daily"
@IngoBethke pointed out an issue of non-conservation when applying time smoothing for coupling intervals shorter than one day. Indeed, the smoothing is hardcoded to only work with daily coupling intervals and it is a bug that smoothing is currently allowed with different coupling intervals.

[2020-08-10 15:43] matsbn commented on #37
I think this is a kind of bug fix that should be a patch of release 1.0 and be available in tag v1.0.1 (see https://github.com/NorESMhub/BLOM/issues/19). There is another bug (https://github.com/NorESMhub/BLOM/issues/38) that could also be fixed in v1.0.1. Bug fixes of the 1.0 release should end up as commits in the release-1.0 branch and then tags v1.0.x of this branch are created (we don't creat

[2020-08-10 21:19] JorgSchwinger commented on #38
But the CMIP6 simulations have been performed with time-smoothing turned off, haven't they?

[2020-08-11 07:51] milicak commented on #38
Unfortunately, (as far as I know), as long as you run with leap-frog, time-smoothing is applied.
@matsbn Could you please point out the hard coded part in the code (line etc.).
I couldn't follow it, and also for future references, it would be nice to include this information.

[2020-08-11 08:34] matsbn commented on #38
The bug relates to time smoothing of forcing received through the coupler, not filtering of the leap-frog computational mode. We are not using this forcing smoothing in the NorESM2 CMIP6 simulations (1 hour coupling interval, 1 hour ocean baroclinic time step). The problem is in https://github.com/NorESMhub/BLOM/blob/master/cesm/getfrc_cesm.F (line 45) and should be quite easy to fix.

[2020-08-25 09:59] TomasTorsvik opened #41 "Replace DO statements with seared termination (CONTINUE) with DO ... END DO format"
DO with shared termination was declared obsolescent in Fortran 90, but still part of the Standard.
Example:
      DO 100 J = 1,NJ
      DO 100 I = 1,NI
      X = X + ARRAY(I,J)
100   CONTINUE

This style still appears in some places in BLOM/iHAMOCC. I would like to replace these instances with the more modern DO ... END DO format.

[2020-08-25 10:50] matsbn commented on #41
Yes, I support this. I replaced many do loops in BLOM with termination label in commit https://github.com/NorESMhub/BLOM/commit/ffaf15fa6ce226e5cf0704e306d43ecdf5247465. There might be some left in BLOM and I did not check iHAMOCC.

[2020-08-25 10:51] JorgSchwinger commented on #41
This is a good idea. In HAMOCC, the sediment code has many instances of this. Outside the sediment code it is only some loops in ocprod.F90, other routines are not affected. Please check bit-for-bit reproducibility when you do this.

[2020-08-27 07:38] #37 closed, assigned to JorgSchwinger

[2020-08-27 08:26] TomasTorsvik commented on #37
Should we add this bug fix to the release-1.0 branch already now? I don't see any reason to wait. We don't need to create a new tag right away, this can probably wait until next minor release of NorESM2.

It's also a question if we want to merge master to release-1.0 or just the bug fix. I think the way to do it is to cherry-pick the commit from Jörg's branch to the release-1.0 branch. I can test

[2020-08-27 08:58] TomasTorsvik commented on #37
I tested the cherry-pick option on my fork, you can see the result on
https://github.com/TomasTorsvik/BLOM-TTfork/network
(compare to https://github.com/NorESMhub/BLOM/network )

The exact same commit as Jörg made has been copied over to the release-1.0 branch, but there is no indication to show the connection between these commits in the repo tree as I can see.

[2020-08-27 09:26] JorgSchwinger commented on #37
I think we only want bug fixes and possibly ports to other machines in subsequent minor releases, don't we? So cherry-picking this commit sounds right to me, and it looks like it does what it is supposed to do.

[2020-08-27 09:50] TomasTorsvik commented on #37
In this case it might be the best option. However, I have been reading up a bit on what others are doing, and it seems that cherry-picking is frowned upon in general due to the risk of strange conflicts. This can happen if e.g. a bug fix works in master due to a commit that was introduced after master and release-1.0 split, so cherry-picking a single commit would not work in that case. We should p

[2020-08-27 10:49] matsbn commented on #37
I think cherry-picking bug-fixes is fine from master to release branch. It seems to be a common procedure for trunk based development (see https://trunkbaseddevelopment.com/youre-doing-it-wrong/) as we mostly follow in the BLOM repository. I also would like to cherry-pick the bug-fix in commit https://github.com/NorESMhub/BLOM/commit/13babb14c75d7681edf8c56d10887d576b3b7412 into the release-1.0 br

[2020-08-27 11:16] TomasTorsvik commented on #37
Thanks @matsbn, interesting read. I guess the the point is that cherry-picking can be OK from master to release branch, since the release branch should never be re-merged with master. In that case there is of course no risk of merge conflicts.

[2020-08-31 16:32] #38 closed, assigned to matsbn

[2020-09-17 09:04] TomasTorsvik commented on #41
Tested with NOINYOC_T62_tn21_27 run for 1 year against master.
There are some deviations in output BGC variables, in particular for the "sss*", with max values

sssc12 = 0.123517459168568 ;

 ssso12 = 0.00157986244893493 ;

 ssssil = 0.262123817857287 ;

 ssster = 15.145099217305 ;

The testing I did was to run to run the current master and my own [refactor branch](https://github.com/TomasTorsvik/

[2020-09-17 09:06] TomasTorsvik commented on #41
PS. If there are more efficient ways to do the comparison, please leave a comment.

[2020-09-17 10:46] JorgSchwinger commented on #41
Hi Tomas, could you let me know the location of the output?

[2020-09-17 11:28] TomasTorsvik commented on #41
I copied output (archive folders) to Nird
/projects/NS2980K/home/tomast/NorESM/run

latest master version: NOINYOC_T62_tn21_27_master
modified branch: NOINYOC_T62_tn21_27_branch

[2020-09-17 12:23] JorgSchwinger commented on #41
Hi Tomas
I checked the output, and I think it looks okay. If you open the diff with ncview you will see that it seems to be roundoff. E.g. ssster is about 2e+6, so a difference of 15 is not much. Keep in mind that we are using compressed 2byte storage, therefore, once a roundoff difference has occurred, an additional difference is introduced during compression (scale factor and offset are slightly

[2020-09-17 13:15] TomasTorsvik commented on #41
Thanks for the feedback @JorgSchwinger !
So you propose that I should do a 100 year run both for master and the feature branch, and make a comparison of global totals?
I guess I don't need monthly outputs, so I should probably change the setup / run script a bit.

[2020-09-17 13:21] JorgSchwinger commented on #41
Your master should be bit-identical to NOINYOC_T62_tn21_27 as long as you can run on fram. Also the output for the 2 degree ocean only is not huge, so you could just use the standard output

[2020-09-17 13:22] TomasTorsvik commented on #41
By the way, @matsbn ,there is still one instance of a DO ... CONTINUE that I did not touch, in the "mod_xc_sm.inc" file, line 1330. However, this is not actually a shared termination (only terminating a single un-nested do block), so perhaps it is not so important.

[2020-09-18 09:18] matsbn commented on #41
I think it is important to consider whether you expected a change in answers with your code modifications. If the code change is merely to replace termination labels with "end do", then there should not be any change in answers and bit-reproducibility is a useful measure of correct implementation. Of course it is not always as simple as this.

In BLOM I use routines chksum and chksummsk that outpu

[2020-09-29 08:45] #8 closed, assigned to TomasTorsvik

[2020-10-06 07:46] TomasTorsvik opened #49 "Fix weird ordering of loops in ocprod.F90"
ocprod.F90 has k-loop as the innermost loop in several loops (loop1-loop4). Ordering should normally be k,j,i in all loops except those dealing with sinking.

[2020-10-06 07:55] #41 closed, assigned to TomasTorsvik

[2020-10-13 12:20] TomasTorsvik opened #50 "Create tag "v1.0.1" ?"
@matsbn , @JorgSchwinger
Hi,
I would like to make a fixed point for a feature branch to be used in the GPU hackathon. I don't think the GPU stuff will be merged into master any time soon, so I was thinking to got with release-v1.0.0. However, I see there have been a few more commits on the release branch. Would it be OK to make a tag v1.0.1 on the release branch, and use that as a starting point f

[2020-10-13 12:36] TomasTorsvik commented on #50
Come to think of it, maybe it's not such a great idea to have feature branches going off from a release branch. Should probably stick with "master" for this stuff, even if the feature branch may not be merged back soon.

[2020-10-13 12:36] #50 closed, assigned to matsbn, TomasTorsvik

[2020-10-13 14:14] TomasTorsvik opened #51 "Create feature_GPU_channel2 branch for GPU hackathon"
@matsbn , @monsieuralok , @AleksiNummelin

Hi,
I made a copy of the feature_channel2 case based on the path that Alok provided us (see [https://github.com/TomasTorsvik/BLOM-TTfork/tree/feature_GPU_channel2](https://github.com/TomasTorsvik/BLOM-TTfork/tree/feature_GPU_channel2)). I have included most of the files, also some that have intentionally been left out by Aleksi earlier, but I was not able

[2020-10-13 22:46] matsbn commented on #51
Great that you created this branch @TomasTorsvik, that I believe will be useful for the GPU hackathon. I have not had time yet to test it myself. I would not include the large netCDF files in the branch. I guess users just have to copy them or we can place them in a common folder on the machine(s) to be used. I am fine with a corresponding feature branch in the BLOM repository.

[2020-10-14 05:04] AleksiNummelin commented on #51
Thanks for putting this together @TomasTorsvik. It should be fine to leave out the netcdf files, because there is a python script in the regions_and_indices folder that will create these files for you anyway (and one needs to use that if the grid dimensions are changed).

[2020-10-14 07:22] TomasTorsvik commented on #51
Thanks for the feedback. I will push the feature branch to the main repo now.

[2020-10-14 08:05] #51 closed, assigned to nobody

[2020-10-14 09:36] TomasTorsvik opened #53 "Create a tag "pre-v.1.0.0" ?"
@matsbn @JorgSchwinger

Hi again,
I was wondering if it could make sense to create a tag on the commit [a8a7e94](https://github.com/NorESMhub/BLOM/commit/a8a7e948a305a5e9c8a2531a1bfc17f8fcf871a8). This is the point on "master" where the last merge to release-v1.0.0 was made, and is the starting point for a few feature branches. I made a [tag on my own fork](https://github.com/TomasTorsvik/BLOM-TTf

[2020-12-10 13:12] TomasTorsvik commented on #53
I went ahead and created the tag. This is a reversible process, tags are just labels on commits, so can be added and removed without much consequence (only problem if the commit that the tag points to is not the same for all clones/forks).

[2020-12-10 13:12] #53 closed, assigned to nobody

[2020-12-21 12:27] TomasTorsvik opened #59 "Fix references to removed subroutine beleg_bgc"
There are still some references to BELEG_BGC in some comments. BELEG_BGC has been replaced by BELEG_PARM and BELEG_VARS.

[2020-12-26 11:38] #59 closed, assigned to TomasTorsvik

[2021-01-22 11:30] nordmoen opened #63 "New build system"
This issue should be seen as a meta issue for the discussion around a new build system for BLOM.

## Possible candidates
- [`CMake`](https://cmake.org/)
- [`SCons`](https://scons.org/)
- [`waf`](https://waf.io/)
- [`Meson`](https://mesonbuild.com/)
- `Make`

What we should discover is what are the requirements for BLOM's build system and discuss in this issue. The following is a small list compile

[2021-01-22 14:27] matsbn commented on #63
@nordmoen, I pushed a modified blom_dimensions script to branch [meson](https://github.com/NorESMhub/BLOM/tree/meson). It works as before on Sigma2 machines and macOS. Great if you can test it on Ubuntu and Fedora.

[2021-01-22 14:35] nordmoen commented on #63
Seems to work on my Fedora machine, we can ensure that it works on Ubuntu with the CI setup in PR #64.

[2021-01-25 11:48] nordmoen opened #65 "Build HAMOCC with Meson"
Currently, adding all the source files in `hamocc` does not lead to a valid build with Meson (checkout the [`meson`](https://github.com/NorESMhub/BLOM/tree/meson) branch).

There are quite a few errors when compiling so I'm unsure how to proceed with enabling `hamocc`. Could someone with more experience comment on which files are required by `hamocc` and if there are special flags that are needed

[2021-01-25 12:09] JorgSchwinger commented on #65
To activate HAMOCC the preprocessor-flags
-DHAMOCC -DRESTART_BGC -DWLIN
are needed. This is the basic configuration. There are more flags to activate certain features.

[2021-01-25 13:48] nordmoen commented on #65
It still does not compile. Could there be any compiler options that are needed?

One of the first error that I encounter when compiling is the following
[code]

[2021-01-25 13:56] nordmoen commented on #65
Solved using `-ffixed-line-length-none` with `gfortran`.

[2021-02-16 12:52] #65 closed, assigned to nobody

[2021-04-20 11:02] nordmoen opened #80 "Basic test setup"
It would be nice to setup some basic testing for BLOM, both for continuous integration (to ensure that the output of the different compilers actually work) and for assurance when updating the code that nothing is broken. With a good test setup it would also be easier to make performance improvements since there would be ways to ensure that the new code is up to specification.

Meson has [built in

[2021-04-21 12:30] monsieuralok opened #81 "BLOM fork with name BLOMGPU"
@TomasTorsvik @matsbn  @MichaelSchulzMETNO  Please can you create a BLOM fork with name BLOMGPU in NorESMhub? We need it for development on GPUs?

Thanks a lot
Alok

[2021-04-21 15:23] TomasTorsvik commented on #81
@monsieuralok @matsbn @MichaelSchulzMETNO
Hi,
I don't think it is easy (or even possible?) to fork a repository in the same organization space. Options include
- create a git submodule : https://git-scm.com/book/en/v2/Git-Tools-Submodules
- duplicate the repository: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/duplicating-a-repository
- fork in a different organiza

[2021-04-21 15:43] MichaelSchulzMETNO commented on #81
Alok did you mean branch, maybe?

[2021-04-21 16:22] TomasTorsvik commented on #81
I think the idea was to make a fork. It seems that GPU acceleration will be enabled trough OpenMP in the near future (apparently, OpenACC is on the way out), and this may not be compatible with the existing OpenMP directives in BLOM. However, at the moment the plan is to continue with OpenACC a while longer and make a switch later on.

[2021-04-21 16:22] agu002 commented on #81
@MichaelSchulzMETNO no, we discussed yesterday about fork. I would then fork in my account. Thanks

[2021-04-21 16:26] agu002 commented on #81
@TomasTorsvik That was the Idea. I would then fork it in my account. Thanks a lot for clarification. I noticed after forking I can change the repository name. Let see it doesn't conflict with BLOM and BLOMGPU in my account.

[2021-04-21 16:30] TomasTorsvik commented on #81
@monsieuralok I think it would be a good idea to make a separate organization for the BLOMGPU fork
https://docs.github.com/en/github/getting-started-with-github/types-of-github-accounts#organization-accounts

This will make it easier to give write access and admin roles to other users. If you make it in your personal account, I think it can be more challenging to manage the repo later on.

[2021-04-21 16:33] TomasTorsvik commented on #81
@monsieuralok See also
https://developers.sap.com/tutorials/webide-github-creating-org.html

[2021-04-21 16:38] MichaelSchulzMETNO commented on #81
Sorry, its maybe not my business, but I dont see why you need a fork and a new organisation for this...You could also fork into you private account and cooperate on that fork.   I guess there are many ways to happiness.

[2021-04-21 18:39] TomasTorsvik commented on #81
Many ways indeed :)
I'm not saying this is the only way, just what I think would be easiest. Hopefully we can have some advanced support from Sigma2 (or Lumi admin, if we port to that system), and it may speed up the process if everyone has direct access to the same fork. At lest, that's my thinking.

[2021-04-23 13:39] nordmoen commented on #80
I'm trying to set it up so that Meson can run a few test cases (to begin with, simply run the binary). One thing that is not clear to me is what the `namelist` file is which `phy/rdlim.F` is checking for is, or where it could be in the repository. Is this something which I could generate based on files in the repository?

[2021-04-23 14:30] AleksiNummelin commented on #80
At the moment the `limits` file (which is what the `phy/rdlim.F`expects) is not included in the repository. In the NorESM context, it is created by  `cime_config/buildnml` but I don't think one can easily run that outside NorESM since it needs some XML files. I created a [pull request](https://github.com/NorESMhub/BLOM/pull/83) just today that includes a limits.json and a limits_from_json.py that

[2021-04-26 05:33] nordmoen commented on #80
Thanks for the quick reply @AleksiNummelin

Reading through the responses in your PR it seems that this is something that needs to be decided before I can move forward with testing.

[2021-04-27 07:09] nordmoen commented on #80
Alternatively, for testing we would just need a minimal workable `limits` file for each of the test cases. If the channel setup is more or less standalone I can use that for testing.

[2021-04-28 08:25] matsbn opened #85 "Incorrect OpenMP directives in iHAMOCC"
The OpenMP directives in iHAMOCC need to be updated to be able to run NorESM with hybrid MPI/OpenMPI parallelisation in compsets with iHAMOCC enabled.

[2021-04-28 15:53] TomasTorsvik commented on #85
@matsbn @IngoBethke
I will have a look at this issue. Do you have a configured case with a hybrid MPI/OpenMP parallelisation that I can start testing from? I have not been running BLOM/iHAMOCC in hybrid parallelisation mode before, so any info you have will be much appreciated.

[2021-04-28 15:53] AleksiNummelin opened #86 "Restructuring of BLOM directory"
In a BLOM-core meeting today with @matsbn @TomasTorsvik @milicak and @JorgSchwinger we discussed the need for some restructuring of the code and putting together a minimum standalone running infrastructure. Specifically, there is a need to move the idealized test cases under a specific folder (or possibly outside the BLOM git structure). Overall, these changes are needed for #80 and some sort of i

[2021-04-28 16:06] AleksiNummelin commented on #80
We discussed this today in the BLOM-core meeting. For now, one can use for example the channel setup for testing, but we agreed that a first proper test case should be built upon the fuk95 case. In this context, I'd imagine testing would imply building, running, and checking diagnostics against a reference (+these cases could be used for testing scalability etc.). Therefore a full-flexed test case

[2021-04-29 12:53] nordmoen commented on #80
Could you help me set this up? I don't know what would be needed, but I have the general setup for testing and generating an individual `dimension.F` file for each test. "All" I need now is some test data so the program will actually run and then we can start to think about checking correctness.

[2021-04-29 13:36] matsbn commented on #80
I have placed a Fortran namelist (“limits”) for the fuk95 test case here: https://gist.github.com/matsbn/718c1419cc1ecc064d78d18f5687439f

This test case does not need any other input files. To shorten the integration time, "NDAY2" can be reduced from 10 to say 1.

[2021-04-30 06:06] nordmoen commented on #80
I downloaded the `limits` file and it worked with some configuration updates. One snag is that the program crashes when I use OpenMP (the program runs single threaded).

[code]

I'm developing the unit tests on the branch [`feature_unit_tests`](https://github.com/nordmoen/BLOM/tree/feature_unit_testing) if any of you have time to help me debug the OpenMP problem. Once this is fixed I think we can

[2021-05-03 09:47] nordmoen commented on #80
I was able to overcome this locally by increasing the stack size with `ulimit -s unlimited`. Now it is only a matter of configuring CI with the same setup.

The next step is probably to create some scripts that can be run to check the results of the run. I can implement this if I know what the different files mean, their expected values and their type.

[2021-05-03 11:44] TomasTorsvik opened #87 "Delete meson branch?"
The "meson" branch has been merged with master. Is it OK with everyone if I delete this branch now?

[2021-05-09 13:17] TomasTorsvik opened #90 "Combine CPP flags with module "use <module>, only:""
@JorgSchwinger @matsbn

I found a bug when compiling with the CPP flag "cisonew" true. In beleg_param.F90 the variables iatmc13 and iatmc14 are not defined, because they are not loaded from the mo_param1_bgc module. This module is loaded with
use mo_param1_bgc,  only: iatmco2,iatmnco2,iatmo2,iatmn2

The problem is that iatmc13 and iatmc14 are only defined when the "cisonew" flag is true, so it is

[2021-05-09 13:35] TomasTorsvik commented on #85
BLOM/iHAMOCC compiles with gfortran without openMP, MPI and parallel netCDF, with CFCs and natural tracers enabled. Compilation fails with carbon isotopes (ciso), due to loading of variables from moduel (see #90).

[2021-05-09 19:54] JorgSchwinger commented on #90
I agree this is a bug, good that you spotted this.

The solution is easier: Just add iatmc13 and iatmc14 to the only list in beleg_parm.F90. If you check mo_param1_bgc you see that the indices are defined in any case. If the CPP flag "cisonew" is not set, then the indices are set to -1 but they will never be used (if they would be used this would be a bug). The same is currently done for iatmnco2

[2021-05-11 06:36] matsbn commented on #87
Yes, the "meson" branch can be deleted.

[2021-05-11 06:41] TomasTorsvik commented on #87
Done

[2021-05-11 06:41] #87 closed, assigned to nobody

[2021-05-13 21:22] #85 closed, assigned to TomasTorsvik

[2021-05-18 09:37] #90 closed, assigned to nobody

[2021-05-21 09:30] nordmoen commented on #80
To follow up on this.

Now that the initial test can be run we need to check that the output is as expected. For me it would be easiest to write a small script in Python that could check the output, but I need some help with the file type and what the expected output should look like.

[2021-05-21 13:42] TomasTorsvik opened #94 "Use omask from mo_intfcblom consitently in iHAMOCC"
The ocean mask variable "omask" is defined in mo_intfcblom, but is still passed as a variable in subroutine calls. I assume the intention is to replace these calls with something like
use mo_intfcblom, only: omask
@JorgSchwinger are you working on this, or should I go ahead and try to implement this?

[2021-05-21 14:04] TomasTorsvik commented on #80
There is a tool called "cprnc" that has been created for comparison of output netCDF files for CESM. The cime source that is bundled with NorESM is a bit old, but it seems to work. The most recent version is available at
https://github.com/ESMCI/cime/tree/master/tools/cprnc

There is also a python version of this tool, but it does not seem to be maintained
https://github.com/NCAR/cprnc_python

Bas

[2021-05-21 14:26] JorgSchwinger commented on #94
No, the intention here is to separate the core iHAMOOC (everything below the HAMOCC4BCM call) from the interface with the physical ocean model. Since BLOM does not use an ocean-mask which could be passed directly, we have to rely on this intermediate variable which is defined in the BLOM-iHAMOCC interface but then passed as a argument to the core iHAMOCC.

This should stay as it is.

[2021-05-21 14:39] TomasTorsvik commented on #94
OK. I couldn't figure out why it was defined in a module and passed as an argument, but I will leave it alone then.

[2021-05-21 14:39] #94 closed, assigned to TomasTorsvik

[2021-05-27 13:55] AleksiNummelin commented on #80
A bit late with a response here, but for a more comprehensive test in the future, would be maybe interesting to use a package like xarray (if we can afford having a conda environment that is fast to install). There is some nice functionality (coming from numpy) that allows for very basic checks as well, for example checking if two variables are equal to a tolerance http://xarray.pydata.org/en/stab

[2021-05-27 19:26] matsbn commented on #80
Also very late with my response here, sorry for that! If one wants to test for bit-identical simulations, I think the available checksum functionality in BLOM should work well. Actually each BLOM simulation dumps " chksum: dp: 0x ... " to stdout at the end of the simulation that I have found very reliable in detecting simulation differences. This could be extended, e.g by adding a checksum for a s

[2021-05-28 05:38] nordmoen commented on #80
I think both of these tracks should be followed. Bit-identical checksums are excellent for CI where we just need to verify that changes do not affect the output of simulation. However, for day-to-day development it would be better with tolerance based tests so that one can better gauge the effect of changes while developing. Tolerance based testing is also essential for moving to GPUs where bit-id

[2021-06-04 11:26] TomasTorsvik opened #96 "Include infor about the BLOM repo structure in the wiki"
Include infor about the BLOM repo structure in the wiki.

[2021-06-09 17:16] TomasTorsvik opened #97 "Document stand alone BLOM/iHAMOCC in wiki?"
@matsbn @nordmoen @AleksiNummelin @JorgSchwinger @milicak
I suggest that we can use the wiki to document building and running stand alone BLOM/iHAMOCC. This is now in the README.md file, but that file is not really suitable for a long documentation text. The wiki is a better option for this because it can be structured over several pages for different sub-topics. At the moment I have just copied o

[2021-06-10 05:25] nordmoen commented on #97
I think moving the more detailed information to the wiki is a very good suggestion. I would keep some simple build instructions in the README so that new users immediately see where to start and then link to the wiki from the README for additional and more thorough information.

[2021-06-11 12:13] TomasTorsvik opened #99 "Extend the fuk95 with option to run iHAMOCC?"
@matsbn @JorgSchwinger
It would be nice to have a stand-alone test case that can run iHAMOCC, so I was wondering if it would be possible to extend the fuk95 case to allow for this. There are some tracers that are initialized with GLODAP and WOA data in beleg_vars.F90. Are there any other obstacles that need to be handled?
I was thinking to just extend the existing mod_fuk95 with an additional subr

[2021-06-14 06:17] JorgSchwinger commented on #99
It is difficult for me to judge how useful this will be in the end. I think such test cases are useful if you can see that the model does what you expect or how large the deviation from an ideal behaviour are. But I have no idea what results I would expect from the HAMOCC model in this setting (this is this idealized "one-eddy-case"?). Is there short wave radiation in this test-case? For the initi

[2021-06-14 07:31] TomasTorsvik commented on #99
@JorgSchwinger
Yes, fuk95 is the "one-eddy-case". The main purpose I have in mind is the ability to test the interface between BLOM and iHAMOCC for a single threaded application. This is much easier to debug using standard debugging tools (e.g. gdb) than multi-threaded applications, and would make it easier to track variables that are moved between the model components. Also, if there are deviatio

[2021-06-14 08:23] #97 closed, assigned to TomasTorsvik

[2021-06-16 10:06] TomasTorsvik commented on #86
I think the structure that @AleksiNummelin have outlined in the doc looks sensible, with an examples and a utils directory. At the moment there are not so many examples, so this can easily be accommodated in the current repository.

[2021-06-17 07:55] matsbn commented on #99
I think it would be useful to be able to include iHAMOCC in the fuk95 case just for technical testing. I also think the single column case could be very useful for iHAMOCC, as it should be able to simulate a specific ocean column with realistic vertical resolution at a specified geographic location.

[2021-06-17 10:29] TomasTorsvik commented on #99
@matsbn Is there a working setup for the single column case now? I see that this fails during meson test runs.

[2021-07-14 08:17] TomasTorsvik commented on #96
I included a separate section on the iHAMOCC structure in the wiki.

[2021-07-23 15:39] TomasTorsvik opened #103 "Replace some preprocessor flags with namelist variables in iHAMOCC"
I would like to replace some preprocessor flags with namelist variables for iHAMOCC. At the moment preprocessor flags are used to turn on/off some basic functionality (e.g. cfc, natDIC, carbon isotopes), that I think would be better handled by a namelist variable. This will make it possible to change the model behavior without recompiling and creating a new executable. To start with, I want to rep

[2021-07-26 08:33] TomasTorsvik opened #105 "Enable tracer count to be determined at run time"
For discussion:
If we should have a BLOM/iHAMOCC model that can accommodate different BGC tracer counts at run time, it is necessary to first make some changes in the BLOM/iHAMOCC interface, and the way that the tracer module works. I propose the following changes:

- make "ntr" adjustable at runtime through a new subroutine ("set_trc") and change the attribute from PARAMETER to PROTECTED.
- Make

[2021-07-26 08:34] TomasTorsvik commented on #105
This issue should be addressed before progress can be made on #104.

[2021-08-24 12:24] #99 closed, assigned to TomasTorsvik

[2021-08-26 10:54] TomasTorsvik commented on #49
The k-loops in question have (i,j) dependency, so it's difficult to fix without major structural changes.

[2021-08-26 10:54] #49 closed, assigned to TomasTorsvik

[2021-08-26 11:30] TomasTorsvik opened #108 "Change blom2hamocc.F and hamocc2blom.F to free source format"
@JorgSchwinger @matsbn
From mo_intfcblom.F90 header:
!   Once BLOM has transitioned to free source format, the interface routines
!   blom2hamocc and hamocc2blom can be incorporated into this module

I think this can be done now. Any reason why not?

[2021-08-27 07:10] TomasTorsvik commented on #18
@JorgSchwinger
We will probably go for a different solution, so I mark this as "wontfix". Should I close this issue now?

[2021-08-27 07:27] TomasTorsvik commented on #29
@JorgSchwinger
I see there is some duplication of code in this subroutine, but I don't know what other constituents to add. Also, should the annual netCDF output be part of the "inventory_bgc" subroutine, or should this be in a separate subroutine?

[2021-08-27 10:40] JorgSchwinger commented on #18
Yes, I think this can be closed

[2021-08-27 10:41] #18 closed, assigned to TomasTorsvik

[2021-08-27 10:46] JorgSchwinger commented on #29
The most important thing would be to handle the net in- and outflux from the sediment correctly (this functionality should actually be there already). As to new constituents we need to think how to handle river-input and nitrogen deposition. These fluxes need to be considered if we want to close the budget. Regarding netcdf-output: I'm not sure what the best solution is, also the question, should

[2021-08-31 07:03] #108 closed, assigned to TomasTorsvik

[2021-08-31 20:16] TomasTorsvik commented on #105
I discussed this with Jörg today. As a first step we suggest to get rid of the duplication of code between BLOM (mod_tracers.F90) and iHAMOCC (mo_param1_bgc), by using the  `ntrbgc` (`nocetra`) parameter from iHAMOCC in mod_tracers.F90. This can be included in a separate `#ifdef HAMOCC` code section in mo_tracers. If you agree, I can make the required changes and create a new pull request.

[2021-08-31 20:20] TomasTorsvik commented on #103
Discussed with Jörg today. This is perhaps not as easy to do as I had hoped. In the current setup, the total number of tracers should be a fixed value (parameter), and in this case the use of preprocessor flags is hard to avoid (unless all tracers are always activated).

[2021-09-01 09:10] matsbn commented on #105
It makes a lot of sense to define these parameters once and that HAMOCC is "responsible". With respect to allocatable arrays, it has in the past been a performance argument for using static memory. My understanding is that this might not be a valid argument anymore. It would be extremely useful if one could test the performance of allocatable arrays somehow in a realistic configuration.

[2021-09-01 09:25] TomasTorsvik commented on #105
Sounds like a good idea! :)
I can set up a test branch. I assume all we need to do is make `trc` and trc-dependent arrays allocatable (?) We can discuss it later today.

[2021-09-02 11:04] TomasTorsvik commented on #105
Issue closed when merging #112 . I will keep this issue open until I can do some testing with allocatable `trc`, then we can discuss if this is a direction we want to go.

[2021-09-14 10:29] TomasTorsvik commented on #105
@matsbn @JorgSchwinger @AleksiNummelin @milicak
Here are results from some tests I did on Betzy and Fram:
[alloc_array_perf.txt](https://github.com/NorESMhub/BLOM/files/7161071/alloc_array_perf.txt)

It seems that there still can be some issues when replacing static arrays with allocatable ones, but perhaps only for specific compiler settings or case parameters. For most tests the differences were

[2021-10-20 15:22] TomasTorsvik opened #123 "Writing tracer restart files only work for 'cesm' experiment?"
It seems that writing of restart files for tracers is hard wired to only work for `expcnf .eq. 'cesm'` experiments, where `rstfnm` has a file name that contains `blom(inst_suffix).r.`. I get an error from `aufw_bgc` when I try to run single column with iHAMOCC.

Suggested workaround: Only call `restart_trcwt(rstfnm)` for the `'cesm'` experiment.

Perhaps it would be nice to have restart files for

[2021-10-29 09:01] TomasTorsvik opened #128 "Update restart_trc[rd/wt] files to GF90"
In connection with #124 I have updated the restart_trc[rd/wt] files from fixed-form (F) to free-form (F90) style. As this is not part of the bugfix, I would like to add these changes afterwards.

[2021-11-03 12:15] #123 closed, assigned to TomasTorsvik

[2021-11-05 20:16] #128 closed, assigned to TomasTorsvik

[2021-12-13 13:42] TomasTorsvik opened #139 "Update and tag v1.2.0?"
@matsbn @JorgSchwinger
Would it make sense to update the release-1.2 branch with the latest commit from Jörg and the pull request I mad just now to ``master``? Note that we have not yet created a v1.2.0 tag, or a code release for v1.2, only a release branch.

[2021-12-13 14:08] matsbn commented on #139
Great that you bring this up @TomasTorsvik. I talked to @JorgSchwinger about this on Friday and bringing in his latest commit to the release-1.2 branch and create a v1.2.0 tag would be good to do now. Also your latest PR make sense to include in the release.

[2021-12-14 13:48] TomasTorsvik commented on #139
It seems I'm not able to push a tag from my local clone to the main repository. I can create a release, that will also create a tag, but in that case I would like to create a release for v1.1.0 first.

[2021-12-14 15:22] matsbn commented on #139
I can try to create the v1.2.0 tag. I saw the release-blom1.1.0 under releases. Will it be a conflict if a create the release tag wrt to release-blom1.2.0? I was wondering about the name "release-blom1.1.0". Does the name need to contain "release" and "blom" when it is listed under releases in the BLOM repository? Why not just "v1.1.0" so it is consistent with the tag name?

[2021-12-14 20:54] TomasTorsvik commented on #139
Hi, @matsbn , it would be nice if you can create a v1.2.0 tag. I am not able to push tags from my local clone to the main repository. I think it is also possible to create tags when you create a release, but apparently it is difficult on GitHub without going through the release process. I named the release following the form for noresm releases, but probably just "v1.1.0" is more conventional, so

[2021-12-14 21:12] matsbn commented on #139
Thanks @TomasTorsvik! I have created the v1.2.0 tag now.

[2021-12-17 13:49] #139 closed, assigned to TomasTorsvik

[2022-01-20 09:20] #96 closed, assigned to TomasTorsvik

[2022-03-02 13:35] dguibert opened #146 "meson: find an external fortran library and adding one include subdirectory"
Hi @nordmoen  and all,

I want to use an external fortran library within blom, I've tried
[code]
kinda works.
but the fortran compiler does not find the module file unless the following is added
[code]

How to get this `<hard-coded library_path>` from `lib`?

[2022-03-02 13:46] nordmoen commented on #146
Is there a reason that you would use `compiler.find_library` instead of `dependency`?

To help more I also need a bit more information. How is the fortran library installed, is it simply a directory or is it a module?

[2022-03-11 10:18] jmaerz opened #147 "New feature: Implementation of an extended nitrogen cycle in iHAMOCC"
### An extended nitrogen cycle in iHAMOCC
Within the EU-ESM2025 project, we are implementing an extended nitrogen cycle in the ocean biogeochemistry model iHAMOCC as part of NorESM. The aim is to explicitly represent the major and climate-relevant nitrogen species and the processes affecting these species. Namely, iHAMOCC will be enhanced by nitrite and ammonium in both, the water column and the s

[2022-03-16 17:57] jmaerz opened #148 "iHAMOCC: explicit use statements in modules / subroutines"
### Explicit use statements in iHAMOCC modules/subroutines

For code readability and safety, the inclusion of explicit use statements throughout the iHAMOCC code would be nice to achieve. A first branch with all necessary coding is done (`expl_use_statem`) and tested to the point that i) all iHAMOCC preprocessor-flags (but `BOXATM`, see below) were compiled and run in single_column mode (partially

[2022-04-04 11:45] TomasTorsvik commented on #29
PR #143 implements netCDF output, river input and nitrogen deposition.

[2022-04-04 11:45] #29 closed, assigned to TomasTorsvik

[2022-04-04 13:32] TomasTorsvik opened #153 "iHAMOCC: change N-fixation limitation from surface mixed layer to euphotic zone?"
Currently (BLOM/iHAMOCC v1.2) the N-fixation by cyano bacteria is limited to the surface mixed layer. It might make more sense to instead limit the N-fixation to the euphotic zone, currently set as a parameter at 100.0 m depth. This will change the model output, so it is a question when and where to introduce this change; (a) in connection with introduction of hybrid vertical coordinates, or (b) i

[2022-04-04 14:44] tjiputra commented on #153
I also think it's best to go with option (b). Scientifically, it'd be more logical when comparing different simulations or when merging code versions.

[2022-04-04 14:51] JorgSchwinger commented on #153
With the new coordinates the upper 2 layers of the model are quite thin, i.e. the volume for N-fixation is small und thus PP will be reduced somewhat. So in this regard, the change belongs to the new vertical coordinates.

[2022-04-04 14:59] TomasTorsvik commented on #153
If PR #154 is accepted, the N-fixation should take place over the entire mixed layer depth (defined by the kOBL index). This will hopefully solve the issue with the 2 top layers being very thin, at least for the first implementation. It has the advantage that the code change should be "minimal", in the sense that the vertical coordinate change will not coincide with another conceptual code change.

[2022-04-04 15:08] tjiputra commented on #153
I thought the idea is to limit N2 fixation to the euphotic zone, and not the whole MLD. According to this, N2-fixation requires lights: https://www.sciencedirect.com/science/article/pii/S1385110104000930, though probably during deep MLD, temperature limitation come into effect.

[2022-04-04 16:29] TomasTorsvik commented on #153
I agree that we should have N2 fixation in the euphotic zone, but in the first instance I would like to have a version that is mostly backwards compatible with CMIP6 simulations, so that we can evaluate "pure" coordinate changes. Perhaps this will only be a short-lived intermediate step, but I think it is safer to do it one step at a time.

[2022-04-19 13:22] jmaerz commented on #153
Maybe it's worth thinking about another 2D field similar to `kmle` in #154 to indicate the depth of the euphotic zone? - so making it possible to differentiate between MLD and euphotic zone depth - then one has the possibility to switch between the two cases during run time for the cyanobacteria by initializing the field either via i) the current MLD or ii) a constant value (or iii) potentially ev

[2022-04-20 13:03] TomasTorsvik commented on #153
The depth of the euphotic zone is currently set to a fixed value `dp_ez = 100.0`, but the k-index `kwrbioz` corresponding to this depth is already a 2D field. It should be fairly straight forward to extend the `set_vgrid` routine to change the calculation for `kwrbioz`. I suppose it could have a significant effect in `ocprod` if we decide to change the definition of this field.

[2022-04-20 14:04] jmaerz commented on #153
Hi Tomas, I wouldn't touch `ocprod` here (since, as you pointed out, setting `kwrbioz` differently would change a lot in `ocprod`) and was more thinking about an analogue of `kwrbioz` for the cyanobacteria only (e.g. `kwrcyaz` or similar) - which you then can use as described earlier.

[2022-04-26 13:47] JorgSchwinger commented on #153
As a starting point, we could just use `kwrbioz` as it is, also for the nitrogen fixation? If the process needs enough light(?), then this would be more justifiable than using mld. But since this would break backwards-compatibility we should probably introduce this at a well defined point...

[2022-04-28 12:29] #148 closed, assigned to nobody

[2022-05-04 13:41] TomasTorsvik opened #159 "DMSPH preprocessor flag and use of pi_ph"
@tjiputra @JorgSchwinger
We have a CPP flag ``DMSPH`` that determines if we calculate the field ``pi_ph``. This is used in ``ocprod`` to calculate [``dms_ph``](https://github.com/NorESMhub/BLOM/blob/82cc25e9921d791d2d634961291d6ee24bc29c8c/hamocc/ocprod.F90#L455-L458) which in turn is used to calculate ``dmsprod``. At the moment ``pi_ph`` is not used and we set ``dms_ph = 1.``, so everything relat

[2022-05-04 13:54] tjiputra commented on #159
@TomasTorsvik
We should keep the option to set dms_ph as a function of pH. This was the code base for experiments documented in Schwinger et al. (2017).

I am not sure what is the best approach (CPP flag or namelist variable) and I am fine with either way. Note that the flag is also used in hamocc_init.F and mo_carbch.F90

[2022-05-04 14:01] TomasTorsvik commented on #159
OK, I can set this up with a namelist option instead of the current CPP flag.

[2022-05-04 14:07] JorgSchwinger commented on #159
Yes, the option should be kept for now, but I agree this could be made into a logical flag relatively easy.

[2022-05-10 08:13] TomasTorsvik opened #161 "iHAMOCC structure for reading climatology input data from files"
In iHAMOCC there is not a clear convention for reading climatology input data from files. For `n-deposition` this is done in three stages:

1. read input data in `hamocc_init` : `call ini_ndep`
2. get data for current month in `hamocc_step` : `call get_ndep`
3. compute the N-deposition in `hamocc4bcm` : `call n-deposition`

For `swa_clim` short-wave climatology, it is assumed that there is no temp

[2022-05-10 08:52] JorgSchwinger commented on #161
I think this makes it unnecessarily complicated. There are only two instances of climatoliogical fields (dms ph and swa), and I can't see that there will be many more in the future. Regarding the general structure I think we should stick to how it is done in n-dep and riverinput (and fe-dep, except that this field is currently constant and there is no need to have a get_fedep function called in ha

[2022-05-10 09:25] TomasTorsvik commented on #161
Regarding pt. 1 above, at the moment `get_cfc` is the only subroutine in hamoc4bcm that has a temporal dependency (yearly data). If `pi_ph` is implemented as `n-dep` we can remove the monthly dependency for `get_dmsph`.

I think `get_cfc` can be moved to `hamocc_step` and that will remove the need to pass the date information through hamocc4bcm. Would this be useful?

[2022-05-12 12:00] #159 closed, assigned to TomasTorsvik

[2022-05-12 15:56] #161 closed, assigned to TomasTorsvik

[2022-05-12 15:59] #19 closed, assigned to nobody

[2022-05-12 16:00] #63 closed, assigned to nobody

[2022-05-12 16:02] #103 closed, assigned to TomasTorsvik

[2022-05-13 08:51] TomasTorsvik commented on #26
@JorgSchwinger
Any idea when this can be done? I don't find  /cluster/projects/nn2980k/Moree on either Fram or Betzy. Do you have the sourcemods somewhere else, or maybe we need to contact Anne?

[2022-05-13 08:53] TomasTorsvik commented on #30
Probably this waits until after merging the vertical hybrid coordinates.

[2022-05-13 11:43] JorgSchwinger commented on #30
When we have the new vertical coordinates this will be obsolete. This was meant to improve the simulation of PP when the vertical resolution is low. I don't think there will be an effect if vertical resolution is reasonable in the euphotic zone.

[2022-05-13 11:44] JorgSchwinger commented on #26
I should have this somewhere, have to check. I can do this, but it's busy at the moment, so I'll need a bit of time.

[2022-05-13 11:45] TomasTorsvik commented on #26
Actually, we have a backup of Anne's project directory from Fram, copied to Nird under `NS2980K/backup/Moree/Fram_nn2980k/NorESM2.tar.gz`, so I guess we have the sourcemods.

[2022-07-15 13:56] blcc opened #178 "Add pause-resume function"
Hi,
I implied pause-resume in BLOM. Pause-resume is function introduced in CESM2, which let components output restart files, modify them with ESP component and read them back. It is useful for data assimilation without stop whole model.
The pull request is send.

Regards,
Ping-Gin

[2022-07-28 07:47] blcc commented on #178
I would like to ask which branch should it make pull request? Or just request for review?

[2022-08-15 08:49] TomasTorsvik opened #180 "Change last remaining fixed form .F files to free form .F90 files in iHAMOCC"
@JorgSchwinger @jmaerz @tjiputra
I would like to change the last remaining fixed form .F files in iHAMOCC to free form .F90 to make the source code base more consistent. In recent years we have been migrating to .F90 when we have made significant changes in in the source files, and now only 5 files remain with fixed form:

Technically, the format change can be done very quickly, and we can do a re

[2022-08-15 08:59] jmaerz commented on #180
Hi @TomasTorsvik , thanks for the initiative. One quick question: Do you intend to rewrite the code into F90 as well? - or just renaming?

[2022-08-15 09:45] TomasTorsvik commented on #180
Hi @jmaerz , I was thinking to do a very basic code update :
- Replace comment line formatting 'c --> !'
- Replace fixed form line continuation : '.' in 5th column --> '&'
- Remove some leading fixed form whitespace

This can be done automatically by a scripting tool.

[2022-08-16 08:48] matsbn commented on #178
Looks like a nice feature, @blcc!  Have you verified that it does not break NorESM cases (e.g no change in results, also after restart) that do not use the pause-resume function?

[2022-08-16 11:09] blcc commented on #178
Yes @matsbn, I verified it with NorESM master branch. It output identical values with daily pause-resume enabled.
Only difference is it takes about 45 seconds to pause and resume.
The combination with multiple instance is also verified.

[2022-08-17 11:35] jmaerz commented on #180
Hi Tomas, ok, this sounds feasible and shouldn't interfere too much with my developments. As long as the changes are done in two steps (renaming and modifying the files committed separately), I don't see any real problem.

[2022-08-22 13:23] TomasTorsvik opened #183 "Differences between current master and reference norESM2.0.5 run"
Hi,
I was testing a standard 1 year `NOINYOC_T62_tn21` setup on BETZY with the latest BLOM/iHAMOCC master (ce2fcd87e) and I see some differences in the output when I compare with a reference `noresm2.0.5` run. Specifically for the monthly output file `*.blom.hm.0001-12.nc` the bit-reproducible test fails for the variables `wflx : vertical mass flux`, `wflx2 : vertical mass flux squared`, `bfsq : b

[2022-08-22 20:52] TomasTorsvik commented on #183
I checked some earlier commits. The change seems to be related to the introduction of the hybrid vertical scheme. I get bit-identical results with `noresm2.0.5` for the last commit before the hybrid verical scheme was introduced (0d40e31) and a change in the 4 variables mentioned above with the merge commit for the hybrid vertical scheme (9e6bd6b).

[2022-08-23 10:12] matsbn commented on #183
I would say these are expected differences in diagnostic fields. I cannot recall exactly where the change happened, but for buoyancy frequency squared I think it is because we now compute buoyancy frequency for the lowermost interface which is not used prognostically in isopycnic mode, but appears as a difference in the diagnostics. I can look further into the wflx, but believe it was due to some

[2022-08-23 10:19] #178 closed, assigned to nobody

[2022-08-23 10:24] #180 closed, assigned to TomasTorsvik

[2022-08-23 10:38] TomasTorsvik commented on #183
Thanks @matsbn , I guess this should be OK then. I think we should make a note of this in the release notes when we make the next release of BLOM/iHAMOCC, and make sure that this information is also included in the next NorESM release notes. I suggest we keep this issue open for the time being as a reminder, unless there is some better way to pin issues to an upcoming release.

[2022-08-30 11:59] jmaerz commented on #147
Hi @JorgSchwinger , @TomasTorsvik , @tjiputra , is anyone of you currently or in the near future working on new developments for the sediment? I ask since I would like to avoid too many potential (git) conflicts in the sediment part of iHAMOCC in the course of further developments.

[2022-08-30 12:04] JorgSchwinger commented on #147
I have no plans to touch the sediment code in the foreseeable future.

[2022-08-30 12:10] TomasTorsvik commented on #147
I don't plan to touch any sediment code any time soon.

[2022-09-06 12:00] jmaerz opened #191 "Recode mapping between pore water and ocean tracers"
Hi @JorgSchwinger and @TomasTorsvik , in the course of the implementation for the nitrogen cycle, I need to introduce new pore water tracers for NH<sub>4</sub> and NO<sub>2</sub>. Thus far, most pore water tracer indices are matching the ocean tracer indices. Through the use of pre-processor flags, other implemented tracers (solid and dissolved ocean tracers, etc.), etc. this scheme is no longer s

[2022-09-06 13:01] TomasTorsvik commented on #191
Hi,
I agree that some kind of mapping between ocean tracers and pore water tracers is necessary, the current scheme is not suitable to handle multiple preprocessor flags.

One option perhaps would be to implement a solution similar to what is already done for `ocetra` and atmosphere indices, definig `npowtra` as a sum of base, cisonew and nirtogen partial sums. Then in a separate subroutine do

[c

[2022-09-06 13:12] jmaerz commented on #191
What I have thus far is (and similar for the sediment solid components - without the mapping, of course):
[code]
The initialization via the subroutine (called in `hamocc_init.F90`) is required since module don't allow it directly. I am uncertain about the `-1`  indices, though - maybe your solution is more reader friendly.

[2022-09-06 13:13] JorgSchwinger commented on #191
Yes I agree this is a good idea. I don't immediately see the purpose of having the index of `int map_por2octra(-1:npowtra)` starting at -1? Shouldn't the field just map the indices for each the `npowtra` sediment tracer to exactly one ocaen tracer?

[2022-09-06 13:17] jmaerz commented on #191
Ok, I guess I then go for Tomas solution (using if statements) to enhance readability.. The `-1` was thus far thought as an unused dummy for any unused pore water tracer that doesn't need matching - `map_por2octra(-1)` and `map_por2octra(0)` will/would never be used during run time.

[2022-09-06 13:18] JorgSchwinger commented on #191
One could just implement this as a static parameter array, without need to initialize it? Is there an advantage of having the initialization routine?

[2022-09-06 13:21] jmaerz commented on #191
The readability and clarity is the advantage, I would say - particularly, if you have (multiple) pre-processor flags.... - there is not much worry about the right order then.

[2022-09-06 13:32] JorgSchwinger commented on #191
There would be no pre-processor flags needed (ocean tracers indices of tracers that do not exist are set to -1). Readability would depend on how it is written, and it would not require initializing anything. Since it's not supposed to change frequently, it would be okay to have it in this 'hard-coded' fashion.

But I also have no strong opinion against the other solution. I just find it more compl

[2022-09-06 13:42] jmaerz commented on #191
You need a different list of indices for each combination of pre-processor flags switched on (note my future introduction of another PP-flag), if I am not mistaken. Second, with the dynamic subroutine version, we are going more into the direction of dynamic, non-static mapping which is re-usable, once we dynamically allocate the number of ocean tracers (had also just a discussion in real with @Tom

[2022-09-06 13:53] TomasTorsvik commented on #191
I was just about to comment, but @jmaerz beat me to it ...

I think doing the mapping in a separate initialization routine is a more flexible solution. While it is true that we don't change these indices very often, I think it is still valuable to accommodate for for future changes, preferably without adding more preproessor flags than necessary.

[2022-09-06 14:10] jmaerz commented on #191
@TomasTorsvik and @JorgSchwinger , can it be that there is a bug for C13,C14 (+ natDIC) in the master `dipowa.F90`, l. 213,217,220 and `ocetra(i,j,kbo(i,j),iv)` should read instead `ocetra(i,j,kbo(i,j),iv_oc)`? - since at present state, it checks against wrong ocetra for these? - I guess, I am asking more for a confirmation than for whether it is wrong...

[2022-09-06 14:29] TomasTorsvik commented on #191
Ye, this looks wrong, although the bug would only become apparent if `cisonew` is enabled.

[2022-09-06 14:32] jmaerz commented on #191
Ok, I have set up a branch `map_por2octra` in my BLOM fork. I'll test it against the former master and check whether the sediment is bit-identical. If you confirm the bug with the tracer indexing, I would suggest to first pulling in the new mapping into `master` (since I started from master), then merging master again into the `beyond-CMIP6` branch and I fix the bug in the `beyond-CMIP6` branch. @

[2022-09-06 14:38] jmaerz commented on #191
Whom else to inform about that issue?

[2022-09-06 14:44] tomas commented on #191
@jmaerz please don't mention me again in this repository. I have nothing to do with this

[2022-09-06 15:45] jmaerz commented on #191
I just realize that #26 might be (in parts) related to that bug.

[2022-09-06 16:53] JorgSchwinger commented on #191
In line 217 this is bug - thanks for spotting this. It has come in there only with the sediment acceleration scheme, and it would affect only the diagnostic output. But good if it is corrected.

The other lines are actually correct as they are. This is a workaround anyway, because we didn't want to implement the natural DIC and alkalinity through the whole sediment module. (some kind of explaining

[2022-09-06 17:17] jmaerz commented on #191
Hi @JorgSchwinger , ok, I guess, I see your point, while you meant line no. 213 being a bug, right? Maybe it is then worth rewriting that part a bit, as in:
`if (iv==ipowaic)...ocetra(,iv->isco212)`
and similarly for alkalinity, which could be done, when fixing the bug in a next step. For now, I didn't touch this potential bug in the pull request #192 since I wanted to do this afterward in an addi

[2022-09-06 17:52] jmaerz commented on #191
After reading and commenting on #192 https://github.com/NorESMhub/BLOM/pull/192#discussion_r963987178 , I guess, as suggested there, we can do the exchange of indices immediately. Question remains about the slightly changed writing as suggested above.

[2022-09-06 21:50] JorgSchwinger commented on #191
Regarding the writing, both are possible I guess, but I would prefer
`if (iv_oc==isco212)   ocetra(i,j,kbo(i,j),inatsco212) = ...`
Otherwise the correspondence between isco212 and inatsco212 is lost.

[2022-09-07 07:02] jmaerz commented on #191
Hi @JorgSchwinger , mmmh, we can do this, but then you need to look up in `mo_parm1_bgc.F90`, to which pore water tracer `iv_oc==isco212` refers to (after putting in the mapping). With
```if(iv==ipowaic) ocetra(...inatsco212)=ocetra(...,inatsco212)+ocetra(...,isco212)-aprior```
, it would be very obvious. But  up to you - whatever you prefer.

[2022-09-07 08:44] jmaerz commented on #191
Ok, I updated the code according to your suggestions and will test it.

[2022-09-08 11:00] jmaerz commented on #191
Hi @TomasTorsvik and @JorgSchwinger , as you might have seen in https://github.com/NorESMhub/BLOM/pull/192#issuecomment-1239193348 , I tested the code and results are identical. Do you have further suggestions, comments wrt the made code changes?

[2022-09-08 11:29] TomasTorsvik commented on #191
Hi @jmaerz , I have no further comments to the PR, so you have a green light from my side.

[2022-09-08 19:53] #191 closed, assigned to jmaerz

[2022-09-14 09:06] jmaerz opened #193 "iHAMOCC: Bugfix for sediment alkalinity needed?"
Currently, in both the CaCO3 carbon cycle calculation, l. 429:
[code]

and the update of alkalinity, l.  539-540
[code]
in `powach.F90` of `feature-hamocc_beyond-CMIP6` (and thus also in `master`) the alkalinity is probably updated in the wrong form, or is, at least, inconsistent with the way, how alkalinity is handled in `ocprod.F90`. In both code snippets, `aerob(i,j)` is the aerobically and `an

[2022-09-14 10:51] JorgSchwinger commented on #193
I agree with your analysis. Some time ago we changed rnit -> (rnit+1) and corrected (hopefully) the stochiometry of denitrification in ocprod, but these changes were never carried over into the sediment code. So it would be excellent to change this.

This should go into the beyond-CMIP6 branch (the sediment code was switched on in CMIP6, so these changes will break backwards bit-for-bit reproducib

[2022-09-14 11:19] jmaerz commented on #193
Hi @JorgSchwinger , ok, thanks for the swift response! Then I am going to prepare a branch and pull request (both based on `beyond-CMIP6`) for this the next days.

[2022-09-19 09:32] jmaerz commented on #193
Hi @JorgSchwinger and @TomasTorsvik , I added `sulf13,14` to the code to reflect the code changes done for 12C. However, now I stumbled over the stoichiometric values in the denitrification part of `powach.F90` again, when looking at the NO3 consumption and N2 production. To my understanding, these values need to be changed as well:

For NO~3~: `98` -> `rdnit1` (which is 121.6)
and for N~2~: `57`

[2022-09-19 10:53] jmaerz commented on #193
@JorgSchwinger and @TomasTorsvik , I am a bit puzzled about these lines -only present- in aerobic remin and denitrification
[code]
To my understanding, the `powtra` are updated twice due to these lines, since in l. 543-550, part `Calculate updated degradation rate from updated undersaturation`, the 13,14C are again updated via the `aerobic13,14` and `anaerobic13,14` fields. I would therefore sugge

[2022-09-19 11:20] jmaerz commented on #193
@JorgSchwinger and @TomasTorsvik , in general, I feel it would be good to merge `master` into the `beyond-CMIP6` branch either before (then I will handle merge conflicts) or directly after (then somebody else or me handles the merge conflicts) due to the recent sediment porosity implementations in `master`. I think that after these changes, the isotope code should be up-to-date in the sediment.

[2022-09-19 11:25] jmaerz commented on #27
Hi @JorgSchwinger , what was/is the reason for the lack of this capability? I am asking also with regards to #193 and #194.

[2022-09-19 16:34] TomasTorsvik commented on #193
I agree with this. I tend to think that it is better to merge `master` to `beyond-CMIP6` before merging in a new code change. This way you can resolve potential conflicts between `master` and the old `beyond-CMIP6` in a separate step (hopefully there should not be any), before creating a new `beyond-CMIP6`. If you do it the other way around, it may be more difficult to untangle if a conflict with

[2022-09-19 17:57] JorgSchwinger commented on #193
Thanks for taking care this, Jöran. The sediment isotope code was never really finished (the model has not been tested with C-isotopes and sediments switched on). So it is well possible that there are still errors (i.e. I would agree deleting the lines of code mentioned above).

Regarding the stochiometry, I did the update of the water-column part with help of Iris (Kriest), so I hope the water co

[2022-09-19 18:04] JorgSchwinger commented on #27
The reason was that it was never really finished. Anne Morée did the implementation in the water column, but didn't touch the sediments. I think (if I remember correctly) Christoph started to do the sediment part, but this was never finished/tested. So if you have gone through all sediment and think it's correct, that's great (and would close this issue after some testing has been done).

One woul

[2022-09-20 07:48] jmaerz commented on #27
Ok, thanks for the information. Since I have never worked with -modelling- isotopes, I cannot judge on the initial equations, but from a code perspective, I would consider the code parts that I have looked at as clean(er)/correct. I guess, for now, I keep this information on my mind and will take another look the next days, while I would like to finish #193 and #194.

[2022-09-20 08:07] jmaerz commented on #193
@JorgSchwinger and @TomasTorsvik , I made the code changes and would now be ready to merge with the `beyond-CMIP6` branch. I just spoke to Tomas, who will merge master into the feature branch before I do the merge, since I know from a local test that it will result in merge conflicts.

[2022-09-20 10:05] jmaerz commented on #193
After merging the master into `beyond-CMIP6` branch, I resolved any conflicts and the bug-fixing branch is ready to be merged into `beyond-CMIP6`.

[2022-09-20 15:30] jmaerz commented on #193
Merged.

[2022-09-20 15:30] #193 closed, assigned to jmaerz

[2022-09-22 13:24] jmaerz opened #197 "Fix required for spatially variable porosity for case `sedbypass=true`"
Hi @TomasTorsvik and @JorgSchwinger , unfortunately, I overlooked the case  `sedbypass=true` when implementing the spatially variable porosity. Thus far, we ONLY allocate memory for `porsol`, `porwah`, `porwat`, `solfu` and the diffusion coefficients, when `sedbypass=false`. However, during the initialization process, `bodensed.F90` is called irrespective of this and we are trying to fill un-alloc

[2022-09-23 10:51] JorgSchwinger commented on #197
I would go for a pre-processor flag in bodensed. Is it necessary at all to call bodensed in the case the sediment is deactivated? If not the pre-processor flag could go into hamocc_init.

[2022-09-23 11:14] jmaerz commented on #197
Well, I am aware that the aggregation scheme (Iris & mine) uses some parameter(s) from the sediment module, which are initialized in `bodensed`, so in the present state, we cannot simply switch it off in `hamocc_init`. I can re-arrange `bodensed` a bit to have a part with purely parameter settings and a part with the writing of allocated fields which then can be switched off - it would be the pre-

[2022-09-23 11:21] JorgSchwinger commented on #197
Sounds good to me.

[2022-09-23 11:33] jmaerz commented on #197
Ok, as quickly discussed in real, I'll split it up and move the routines into `mo_sedmnt`. I'll try to get that done early next week.

[2022-09-27 12:50] #197 closed, assigned to jmaerz

[2022-11-08 16:25] jmaerz commented on #31
@JorgSchwinger , in the course of the N cycle developments #147 , I am currently looking into the `carchm.F90` routine to get not only the fluxes (which are implemented), but also DpX (X being relevant gases). Maybe it would be a good time to shortly discuss the issue and we/I can implement the output.

[2022-11-08 17:13] jmaerz commented on #31
As far as I understand it, we would like to have in addition to the dry air formulation
[code]
(l. 520, `carchm.F90`) also something like
[code]
for moist air, equivalent to the used `pco2` (l. 289, `carchm.F90`). So essentially using `Kh` (moist air) instead of `Khd` (dry air) -see `carchm_kequi.F90`- for the output for partial pressure of CO2 under moist air conditions. In case of a difference (

[2022-11-09 20:50] JorgSchwinger commented on #31
I'm actually not sure what is "correct" to use for DpCO2. I think the partial pressure w.r.t. dry air is often used for this, even if it is corrected for water vapor in the flux calculations. It is in any case good to have both fields in the output.

What I meant over lunch today: In carchm (line 526):
`kwco2sol(i,j) = kwco2*Kh*1e-6`
it is the product of Kw (piston velocity) and solubility that is

[2022-11-09 20:55] jmaerz commented on #31
Ok, thanks. I'll try to take care of this by the end of the week.

[2022-11-11 17:16] jmaerz commented on #31
Hi @JorgSchwinger , how save would it be to use the same name `kwco2` for the piston velocity only (and to avoid confusion)? Otherwise, I would suggest to implement/rename the following output:
- `pkwco2`     - Piston velocity for CO2
- `pkwco2khm` - Piston velocity times solubility corrected for moist air (replaces current `kwco2`)
- `khco2m`       - solubility constant corrected for moist air
-

[2022-11-14 07:27] JorgSchwinger commented on #31
Hi Joeran,

after thinking a bit about it, I believe the main variable pCO2 w.r.t. dry air (that is what is measured in the atmosphere). The method of the Weiss and Price 1980 paper is a bit special (incorporating the water vapor correction in the fit for solubility), at least I haven't seen it elsewhere. Usually, the water vapor correction is kept separate, and this is actually the more convenien

[2022-11-19 18:01] matsbn opened #203 "Correct unit of diagnostic variable "dp_trc""
This variable is supposed to in unit Pa = kg m-1 s-2 but is wrongly output in unit g cm-1 s-2.

[2022-11-19 18:06] matsbn opened #204 "Make budget calculations selectable by namelist option"
Budget calculations are now done by default and appended to files every time step. This can cause I/O performance issues. I suggest to make budget calculations selectable by a namelist option and make the default option to not compute the budgets.

[2022-11-21 08:24] #203 closed, assigned to nobody

[2022-11-21 08:24] #204 closed, assigned to nobody

[2022-11-22 14:55] #31 closed, assigned to JorgSchwinger, jmaerz

[2022-11-25 08:06] TomasTorsvik opened #207 "Fix pnetcdf issues in recent iHAMOCC updates"
It seems some of our recent updates in iHAMOCC are not compatible with using pnetcdf (see [NoRESM issue 385](https://github.com/NorESMhub/NorESM/issues/385). We should fix this for the NorESM2.0.6 release.

[2022-11-25 09:35] jmaerz commented on #207
Hi Tomas, since the `PNETCDF` issue on betzy https://github.com/NorESMhub/cime/pull/34 is older than the commit with the explicit use statements: can you confirm that the problem was present before already (on betzy)?  If so, potentially a two step approach would help: first going to fix issues connected to the explicit use statements (I assume some `use` statements could be missing) for the machi

[2022-11-25 09:50] TomasTorsvik commented on #207
Hi Jöran, my understanding when talking with Alok was that the `PNETCDF` issue would not be solved on betzy (or that no one was working to solve it) - @monsieuralok please correct me if I'm wrong. So we don't have an option to test for this bug on betzy.

I think the pnetcdf option should still work on Fram. Just now I was trying to do a meson build of BLOM/iHAMOCC on my own PC, but there seems to

[2022-11-25 10:29] jmaerz commented on #207
Ok, I see. After re-reading the compilation error of Dirk and looking deeper into the code, we miss to import `i0,ii,jj,j0,jj` (and potentially some others)  from `mod_xc` in `read_netcdf_var.F90`. I need to check the other files, where `PNETCDF` is used, though. Shall we branch from the milestone branch to fix this?

[2022-11-25 10:35] TomasTorsvik commented on #207
`master` and `release-1.3` currently point to the same commit (98ade59), so it doesn't matter which one to branch from. It would be good to make a separate bugfix branch from 98ade59 and merge into `master` and `release-1.3` respectivesly, when we have fixed the bug.

[2022-11-25 10:35] TomasTorsvik commented on #207
By the way, I have reproduced the bug on Fram. The machine settings on Fram use pnetcdf by default.

[2022-11-25 13:10] #207 closed, assigned to JorgSchwinger, TomasTorsvik, jmaerz

[2022-11-30 10:24] jmaerz commented on #27
Half of a reminder to myself, half as discussion: in `sedshi.F90`, the upward shifting from the burial layer into the active sediment layer only considers refilling of non-isotopes, while afterward, all solid sediment tracers experience upward re-distribution. Isn't there a re-filling also needed from the burial for isotopes? - or am I missing something?

[2022-11-30 10:40] jmaerz opened #210 "Potential bug in `sedshi.F90`"
Hi @JorgSchwinger and @TomasTorsvik , while implementing output for burial fluxes, I stumbled over the potential issue described in #27 (not urgent), but in addition in `sedshi.F90`: could it be that the downward shifting into the burial layer is not correct? To my understanding, the index `k` should be replaced by `ks` (loop in l. 135-148 in current `master`) - note the closure of `k`-loop before

[2022-11-30 13:32] TomasTorsvik commented on #210
Hi @jmaerz , I agree that this looks suspicious. Looking at the code history:

https://github.com/NorESMhub/BLOM/blame/master/hamocc/sedshi.F90

most of the `sedshi.F90` code has not been changed for a long time, except l. 143 that was included in PR #189.

As it happens, `k` should take the value `ks` in this case, since the previous loop terminates at `ks-1`, but I don't think there is any good

[2022-11-30 13:34] TomasTorsvik commented on #210
Also, it would be a good idea to update `beyond-CMIP6` from master before including the fix.

[2022-11-30 13:51] JorgSchwinger commented on #210
Hi @jmaerz and @TomasTorsvik

It looks like k=ks at this point of the code, right?

In this case, I don't think this classifies as a bug (since it relies on behavior that is part of the Fortran standard). But it is definitely not nice and I agree k should be changed to ks here. There should be no effect on the results (hopefully).

[2022-11-30 15:12] jmaerz commented on #210
Hi @JorgSchwinger an @TomasTorsvik , ok, yes, I see what you mean. Being explicit about it wouldn't harm, though. I guess, in this case, I will add the change simply to my nitrogen cycle branch which will enter the `beyone-CMIP6` branch at some point (or the `master`, if is has been merged).

[2022-11-30 15:14] TomasTorsvik commented on #210
Seem like a good plan to me :)

[2022-11-30 16:51] #210 closed, assigned to jmaerz